<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <div th:replace="fragments/boilerplate :: head"></div>
  <link rel="stylesheet" href="css/result.css">

  <title>Search Results</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

  <div th:replace="fragments/navbar :: navbar"></div>

  <div class="container">
      <h1>Search Results</h1>
      <div class="row">
          <div class="col-md"></div>
          <div class="col-md-4 text-center">
            <h4>Sort by</h4>
            <select onchange="reloadSorted(this)">
              <option value="gameRank">Rank</option>
              <option value="name">Name</option>
              <option value="votes">Votes</option>
            </select>
          </div>
          <div class="col-md-4 text-center">
            <h4>Page</h4>

            <select onchange="switchPage(this)" class="page-dropdown">
            </select>

          </div>
          <div class="col-md"></div>
      </div>
      <table class="table" id="search-results-table">

        <div th:replace="fragments/game-results :: game-results"></div>

    </table>
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-4 text-center">
        <h4>Page</h4>

        <select onchange="switchPage(this)" class="page-dropdown">
        </select>

      </div>
      <div class="col-md"></div>
  </div>
  </div>


  <div th:replace="fragments/boilerplate :: js"></div>

  <script th:inline="javascript">
    /*<![CDATA[*/

    var numOfPages = /*[[${numOfPages}]]*/ 'default';

    /*]]>*/
  </script>
  <script type="text/javascript" src="js/result.js"></script>
</body>

</html>