<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <div th:replace="fragments/boilerplate :: head"></div>

  <link rel="stylesheet" th:href="@{css/search.css}">
  <link rel="stylesheet" th:href="@{css/nouislider.css}">

  <title>Search for Games</title>
</head>

<body>

  <div th:replace="fragments/navbar :: navbar"></div>

  <div class="container align-items-center">

    <div class="row">
      <div class="col-md-1"></div>

      <div class="row display-card col-md-10">
        <div class="col-sm-9 col-md-7 col-lg-10 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <form class="form-signin" action="/query" method="get">

                <!-- Rank -->
                <h5 class="card-title text-center">Rank</h5>
                <div class="form-row slider-row">
                  <div class="col-md"></div>
                  <div class="col-md-8">
                    <div class="my-slider" id="rankSlider"></div>
                  </div>
                  <div class="col-md"></div>
                </div>
                <div class="form-row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="rankMin" type="text" id="rankMin">
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="rankMax" type="text" id="rankMax">
                  </div>
                  <div class="col-md-2"></div>
                </div>

                <!-- # of Players -->
                <h5 class="card-title text-center">Num of Players</h5>
                <div class="form-row slider-row">
                  <div class="col-md"></div>
                  <div class="col-md-8">
                    <div class="my-slider" id="playersSlider"></div>
                  </div>
                  <div class="col-md"></div>
                </div>
                <div class="form-row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="playersMin" type="text" id="playersMin">
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="playersMax" type="text" id="playersMax">
                  </div>
                  <div class="col-md-2"></div>
                </div>

                <!-- Year -->
                <h5 class="card-title text-center">Year Published</h5>
                <div class="form-row slider-row">
                  <div class="col-md"></div>
                  <div class="col-md-8">
                    <div class="my-slider" id="yearSlider"></div>
                  </div>
                  <div class="col-md"></div>
                </div>
                <div class="form-row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="yearMin" type="text" id="yearMin">
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="yearMax" type="text" id="yearMax">
                  </div>
                  <div class="col-md-2"></div>
                </div>

                <!-- Average Play Time -->
                <h5 class="card-title text-center">Avg Play Time (mins)</h5>
                <div class="form-row slider-row">
                  <div class="col-md"></div>
                  <div class="col-md-8">
                    <div class="my-slider" id="avgPlayTimeSlider"></div>
                  </div>
                  <div class="col-md"></div>
                </div>
                <div class="form-row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="avgPlayTimeMin" type="text" id="avgPlayTimeMin">
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="avgPlayTimeMax" type="text" id="avgPlayTimeMax">
                  </div>
                  <div class="col-md-2"></div>
                </div>

                <!-- Minimum Play Time -->
                <h5 class="card-title text-center">Min Play Time (mins)</h5>
                <div class="form-row slider-row">
                  <div class="col-md"></div>
                  <div class="col-md-8">
                    <div class="my-slider" id="minPlayTimeSlider"></div>
                  </div>
                  <div class="col-md"></div>
                </div>
                <div class="form-row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="minPlayTimeMin" type="text" id="minPlayTimeMin">
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="minPlayTimeMax" type="text" id="minPlayTimeMax">
                  </div>
                  <div class="col-md-2"></div>
                </div>

                <!-- Maximum Play Time -->
                <h5 class="card-title text-center">Max Play Time (mins)</h5>
                <div class="form-row slider-row">
                  <div class="col-md"></div>
                  <div class="col-md-8">
                    <div class="my-slider" id="maxPlayTimeSlider"></div>
                  </div>
                  <div class="col-md"></div>
                </div>
                <div class="form-row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="maxPlayTimeMin" type="text" id="maxPlayTimeMin">
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="maxPlayTimeMax" type="text" id="maxPlayTimeMax">
                  </div>
                  <div class="col-md-2"></div>
                </div>

                <!-- Votes -->
                <h5 class="card-title text-center">Votes</h5>
                <div class="form-row slider-row">
                  <div class="col-md"></div>
                  <div class="col-md-8">
                    <div class="my-slider" id="votesSlider"></div>
                  </div>
                  <div class="col-md"></div>
                </div>
                <div class="form-row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="votesMin" type="text" id="votesMin">
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="votesMax" type="text" id="votesMax">
                  </div>
                  <div class="col-md-2"></div>
                </div>

                <!-- Recommended Age -->
                <h5 class="card-title text-center">Recommended Age</h5>
                <div class="form-row slider-row">
                  <div class="col-md"></div>
                  <div class="col-md-8">
                    <div class="my-slider" id="ageSlider"></div>
                  </div>
                  <div class="col-md"></div>
                </div>
                <div class="form-row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="ageMin" type="text" id="ageMin">
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="ageMax" type="text" id="ageMax">
                  </div>
                  <div class="col-md-2"></div>
                </div>

                <!-- # of Fans -->
                <h5 class="card-title text-center"># of Fans</h5>
                <div class="form-row slider-row">
                  <div class="col-md"></div>
                  <div class="col-md-8">
                    <div class="my-slider" id="fansSlider"></div>
                  </div>
                  <div class="col-md"></div>
                </div>
                <div class="form-row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="fansMin" type="text" id="fansMin">
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-2 value-input">
                    <input class="input-elm" name="fansMax" type="text" id="fansMax">
                  </div>
                  <div class="col-md-2"></div>
                </div>


                <!-- Category/Mechanic Modal Buttons -->
                <div class="row">
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#categoryModal">Categories</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#mechanicModal">Mechanics</button>
                </div>


                <!-- Category Modal -->
                <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog"
                  aria-labelledby="categoryModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="categoryModalLabel">Select Categories</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="categoryModalBody">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
                        <button type="button" class="btn btn-primary">Send</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Mechanic Modal -->
                <div class="modal fade" id="mechanicModal" tabindex="-1" role="dialog"
                  aria-labelledby="mechanicModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="mechanicModalLabel">Select Mechanics</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="mechanicModalBody">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
                        <!-- <button type="button" class="btn btn-primary">Send</button> -->
                      </div>
                    </div>
                  </div>
                </div>



                <div class="button-group">
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button"
                        onclick="return false;" id="submissionBtn">Submit</button>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
                </div>


                <hr class="my-4">

                <!-- <input type="hidden" value="gameRank" name="sort" /> -->

              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  </div>


  <div th:replace="fragments/boilerplate :: js"></div>
  <script type="text/javascript" src="js/search.js"></script>
  <script type="text/javascript" src="js/nouislider.min.js"></script>

</body>

</html>