<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="fragments/boilerplate :: head"></div>
    <div th:replace="fragments/boilerplate :: css"></div>
    <!-- <link rel="stylesheet" th:href="@{css/login.css}"> -->
    <title>Log In</title>
</head>

<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <!-- Page top section -->
    <section class="page-top-section set-bg" th:data-setbg="@{~/images/page-top-bg/2.jpg}">
        <div class="page-info">
            <h2>Log in</h2>
            <div class="site-breadcrumb">
                <a href="/home">Home</a> /
                <span>Login</span>
            </div>
        </div>
    </section>
    <!-- Page top end-->

    <!-- Login Form -->
    <section class="newsletter-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md">
                    <form login-page='/customLogin?login_error=1' class="filter text-center" action="/login"
                        method='POST'>
                        <div class="form-label-group">
                            <label for="inputUser">Username</label>
                            <input type="text" name="username" id="inputUser" class="form-control"
                                placeholder="Username" required autofocus>
                        </div>

                        <div class="form-label-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                placeholder="Password" required>
                        </div>

                        <div th:if="${error != null}">
                            <p class="text-danger text-center my-error-text">
                                Invalid credentials. Please try again.
                            </p>
                        </div>

                        <button class="site-btn login-btn" name="submit" value="submit" type="submit">Sign in</button>
                    </form>
                </div>

                <div class="col-md-3"></div>
            </div>

        </div>
    </section>


    <div th:replace="fragments/footer :: footer"></div>

    <div th:replace="fragments/boilerplate :: js"></div>
    <script type="text/javascript" src="js/login.js"></script>
</body>

</html>