<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="fragments/boilerplate :: head"></div>
    <div th:replace="fragments/boilerplate :: css"></div>
    <title>Sign Up</title>
</head>

<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <!-- Page top section -->
    <section class="page-top-section set-bg" th:data-setbg="@{~/images/page-top-bg/3.jpg}">
        <div class="page-info">
            <h2>New User Signup</h2>
            <div class="site-breadcrumb">
                <a href="/home">Home</a> /
                <span>New User</span>
            </div>
        </div>
    </section>
    <!-- Page top end-->

    <!-- Login Form -->
    <section class="newsletter-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md">
                    <form class="form-signin" action="#" method='POST'>
                        <label for="inputUser">Username</label>
                        <div class="form-label-group">
                            <input type="text" name="username" id="inputUser" class="form-control"
                                placeholder="Username" required autofocus>
                        </div>

                        <label for="inputPassword">Password</label>
                        <div class="form-label-group">
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                placeholder="Password" required>
                        </div>

                        <div class="form-label-group">
                            <label for="inputConfirmPassword">Confirm Password</label>

                            <input type="password" name="confirmPassword" id="inputConfirmPassword" class="form-control"
                                placeholder="Confirm Password" required>
                        </div>


                        <div th:if="${error != null}">
                            <p class="my-error-text text-center" th:text="${error}">

                            </p>
                        </div>

                        <div class="sign-up-btn">
                            <button class="site-btn" name="submit" value="submit" type="submit">Sign
                                up</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-3"></div>
            </div>

        </div>
    </section>


    <div th:replace="fragments/footer :: footer"></div>

    <div th:replace="fragments/boilerplate :: js"></div>
    <script type="text/javascript" src="js/login.js"></script>
</body>

</html>